#body{
    /* background-color: blueviolet; */
    height: max-content;
    background-image: url("https://wallpapers.com/images/hd/blue-mountain-9lbfzsxuzjrkpu6c.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#location{
    display: flex;
    margin: 35px;
}
#location>i{
    margin-top: 15px;
}
#place{
    margin-left: 20px;
    color: darkblue;
    font-size: 26px;
}
#searchPlace{
    position: absolute;
    right: 20px;
}
#searchPlace>input{
    height: 40px;
    width: 200px;
    background-color: lightblue;
    border: 2px solid rgb(153, 211, 230);
}
#temp{
    
    width: 200px;
    /* ; */
}
#placeTemp{
    font-size: 60px;
    color: yellow;
    margin-bottom: 0%;
}
#tempCard{
   
    height: 100px;
    width: 300px;
    /* border: 1px solid blue; */
    background-color: rgb(14, 33, 92);
    border-radius: 20px;
}
#tempCard>div{
    padding-top: 20px;
    justify-content:space-around;
    /* border: 1px solid black; */
}


#gridDiv{
    position: relative;
    /* left: 15%; */
    margin-top: 20px;
    background-color: rgb(14, 33, 92);
    border-radius: 20px;
    height: 170px;
    width: 850px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.NextDates{
    background-color: lightblue;
    margin: 10px;
    margin-left: 5px;
    width: 150px;
    height: 140px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
}
.rain{
    border: 1px solid black;
    /* margin-left: 15px; */
}
#button{
    border:none;
    background-color: white;
}
#climate{
    font-size: 20px;
    /* border: 1px solid black; */
    color: rgb(43, 43, 140);
    margin: 0px;
}
.temperature{
    color: darkblue;
}
@media (max-width:993px){
    .NextDates{
        width: 120px;
        height: 130px;
        background-color: rgb(14, 33, 92);
        color: white;
    }
    #gridDiv{
        background-color: lightblue;
        height: 150px;
    }
    .temperature{
        color: yellow;
    }
}
@media (max-width:770px){
    #gridDiv{
        height: min-content;
        display: flex;
        width: max-content;
        flex-direction: column;
    }
    .NextDates{
        /* display: flex; */
        justify-content: space-around;
        /* flex-direction: column; */
        width: 300px;
        height: min-content;
    }
    .temperature{
        flex-wrap: wrap;
        /* width: 100%; */
    }
    .divClass{
        display: flex;
        justify-content: center;
    }
}
@media (max-width:770px){
    #location{
        display: block;
    }
    #searchPlace{
        position: static;
    }
}
@media (max-width:400px){
    #tempCard{
        width: 250px;
    }
    #gridDiv{
        width: 250px;
    }
    .NextDates{
        width: 220px;
    }
    #placeTemp{
        font-size: 45px;
    }
}